*{ 
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body {
 font-size: 16px;
 background-color: white;
 color: black;
}

.hidden {display: none;}

.icon-container {
    text-align: center;

}
.wrapper {
    width: 45%;
    display: inline-block;

    padding: 1em;
}
.wrapper img {
    width: 100%;

}